
@{
    ViewBag.Title = "Unit11";
}

<h2>Unit11</h2>
<form name="personGender" action="/Training/genderForm" method="post">
    Input First Name: <input type="text" name="firstName" /> <br/>
    Input Last Name: <input type="text" name="lastName" /> <br/>
    Input Phone Number: <input type="text" name="phoneNumber"/> <br/>
    Input Email: <input type="text" name="email" /> <br/>
    Input Gender (M or F): <input type="radio" name="gender" value="male"> Male <input type="radio" name="gender" value="female"> Female<br>

    <button type="submit">Send Info</button>

</form>
